<div class="jumbotron">
  <h1 class="display-3">Welcome to RPG Game Editor</h1>
  <p class="lead">Sign up to start creating your first character</p>
  <hr class="my-4">
  <p>Already have account?
      <%= link_to 'Log in', user_session_path %>
  </p>
  <p class="lead">
    <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
