<div class="jumbotron">
  <h1 class="display-3">Welcome to RPG Game Editor</h1>
  <p class="lead">Sign up to start creating your first character</p>
  <hr class="my-4">
  <p>Already have account? <%= link_to 'Log in', "#" %></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
  </p>
</div>
