body {
  background-image: asset-url("rpg.jpg");
}

.navbar {
  margin-bottom: 30px;
  background: rgba(233, 236, 239, 0.8);
}

.jumbotron {
  background: rgba(233, 236, 239, 0.8);
}

.card {
  background: rgba(233, 236, 239, 0.8);
  margin-bottom: 30px;
}

.attribute-form {
  background: rgba(233, 236, 239, 0.8);
  padding-top: 2em;
  padding-bottom: 2em;
}

#attributes {
  margin: 2em 0em 2em 0em;
  font-size: 1.5em;
}
